# ignore data folder
data/
# ignore giant file
modeling/gridsearch_all_models/figs_pipe_import.joblib

# ignore archived files
archive/

# ignore notebooks checkpoints
.ipynb_checkpoints/
modeling/.ipynb_checkpoints/
cleaning_eda/.ipynb_checkpoints/